In [1]:
# We will  send the data in Mogodb
import pandas as pd
import pymongo

df = pd.read_csv('data.csv')
df.head()

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,1,Male,44,1,28.0,0,> 2 Years,Yes,40454.0,26.0,217,1
1,2,Male,76,1,3.0,0,1-2 Year,No,33536.0,26.0,183,0
2,3,Male,47,1,28.0,0,> 2 Years,Yes,38294.0,26.0,27,1
3,4,Male,21,1,11.0,1,< 1 Year,No,28619.0,152.0,203,0
4,5,Female,29,1,41.0,1,< 1 Year,No,27496.0,152.0,39,0

In [2]:
# df should be converted into dict before we push it to mongodb

data = df.to_dict(orient='records')
# data

In [6]:
DB_NAME = "Vehicle Insurance"
COLLECTION_NAME = "Vehicle Insurance-Data"
CONNECTION_URL = "mongodb+srv://PrinceShah:vaLTrJ4kqfBjJ71q@cluster0.p5vhzth.mongodb.net/?appName=Cluster0"

# above, either remove your credentials or delete the mongoDB resource bofore pushing it to github.

In [ ]:
import pymongo

# Connect to MongoDB
client = pymongo.MongoClient(CONNECTION_URL)

# Access database
data_base = client[DB_NAME]

# Access collection
collection = data_base[COLLECTION_NAME]

InvalidName: database names cannot contain the character ' '